section.people
  .container
    +blockBox("Happy clients", "What people say")
    ul.people-list
      +peopleItem
      +peopleItem("../images/img-people2.png", name="Nick Karvounis", job="Graphic Design")
      +peopleItem("../images/img-people3.png", name="Jaelynn Castillo", job="Graphic Design")
      +peopleItem("../images/img-people4.png", name= "Mike Petrucci", job="Graphic Design" )
  
  