section.team
  .container
    +blockBox("Who we are", "Meet our team","Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quisquam vel officia cumque esse dolorum facilis veritatis voluptas ea magnam aliquid error quia incidunt modi assumenda autem officiis itaque enim.")
    .team-list
      +teamItem("../images/img-team1.png", "Matthew dix", "Graphic Design")
        +teamSocial
      +teamItem("../images/img-team2.png", "Christopher cambell", "Branding/UX Team")
        +teamSocial
      +teamItem("../images/img-team3.png", "Michael fertic", "Developer")
        +teamSocial

section.brand
  .container
    img(src="../images/img-logos.png" alt="brands")