section.quote
  .container
    .quote-container
      +quoteItem("../images/img-quote-avatar.png",true, desc='"Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quisquam vel officia cumque esse dolorum facilis veritatis voluptas ea magnam aliquid error quia incidunt modi assumenda autem officiis itaque enim."', author= "Joshua Earle")
      +quoteItem("../images/img-quote-avatar.png",true, desc='"Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quisquam vel officia cumque esse dolorum facilis veritatis voluptas ea magnam aliquid error quia incidunt modi assumenda autem officiis itaque enim."', author= "Joshua Earle")
      +quoteItem("../images/img-quote-avatar.png",true, desc='"Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quisquam vel officia cumque esse dolorum facilis veritatis voluptas ea magnam aliquid error quia incidunt modi assumenda autem officiis itaque enim."', author= "Joshua Earle")