section.work
  .container
    +blockBox("What we do", "Some of our work", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, quisquam vel officia cumque esse dolorum facilis veritatis voluptas ea magnam aliquid error quia incidunt modi assumenda autem officiis itaque enim.")
  .work-list
    .work-column
      +workItem
      +workItem("./images/img-work2.png")
    .work-column
      +workItem("./images/img-work3.png")
      +workItem("./images/img-work4.png")
    .work-column
      +workItem("./images/img-work5.png","work-item--full")
    .work-column
      +workItem("./images/img-work6.png")
      +workItem("./images/img-work7.png")
      
    